.container {
	border-radius: 5px;
	width: 95%;
	margin: 20px auto;
	font-family: var(--font-main);
}

.pageContainer {
	padding-bottom: 10px;
	background-color: var(--clr-white);
	border-radius: var(--radius);
	margin-top: 15px;
	min-height: 400px;
}

.featuredSection {
	border-radius: 0 0 var(--radius) var(--radius);
	background-color: var(--clr-white);
	padding: 0 var(--space-lg) 0 var(--space-md);
	padding: var(--space-lg);
}

.featured {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--clr-primary);
}

.filterContainer {
	padding: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.pageTitleContainer {
	padding: 20px 20px 0px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.itemNumber {
	font-size: var(--fs-sm);
	color: var(--clr-text-light);
}

.total {
	color: var(--clr-text-light);
	font-size: var(--fs-sm);
}

.totalPrice {
	color: var(--clr-text);
	font-size: var(--fs-lg);
	font-weight: var(--fw-bold);
}

.secondaryBtn {
	background-color: var(--clr-accent);
	border: 1px solid var(--clr-accent);
	width: 250px;
	margin-top: 10px;
}

.secondaryBtn:hover {
	color: var(--clr-accent);
	border: 1px solid var(--clr-accent);
}

.footerCart {
	padding: var(--space-lg);
}

.section1 {
	padding: var(--space-lg);
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.section1 img {
	width: 400px;
	object-fit: cover;
	border-radius: var(--radius);
}

.section1 p {
	letter-spacing: 1px;
	line-height: 40px;
	text-align: justify;
	color: var(--clr-text);
	font-weight: var(--fw-medium);
	font-size: var(--fs-md);
}

.section2 {
	padding: var(--space-lg);
}

@media (max-width: 768px) {
	.section1 img {
		display: none;
	}

	.section1 p {
		letter-spacing: 1px;
		line-height: 30px;
		text-align: left;
		font-size: var(--fs-md);
	}

	.itemNumber {
		font-size: var(--fs-xs);
	}
}