.search-container {
  position: relative;
  width: 250px;
}

.search-container input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid var(--clr-border);
  border-radius: var(--radius);
  outline: none;
  font-size: var(--fs-sm);
  font-family: var(--font-main);
  color: var(--clr-text);
  background-color: var(--clr-white);
  transition: all 0.25s ease;
}

.search-container input:focus {
  border-color: var(--clr-text-light);
  box-shadow: 0 0 4px var(--clr-text-light);
}

.search-icon {
  position: absolute;
  top: 50%;
  right: var(--space-sm);
  transform: translateY(-50%);
  color: var(--clr-text-light);
  pointer-events: none;
  width: 18px;
  height: 18px;
}

@media (max-width: 768px) {
  .search-container {
    width: 100%; 
  }

  .search-container input {
    padding: 10px 12px 10px 35px;
  }

  .search-icon {
    left: var(--space-sm);
    right: auto;
  }
}